body {
    font-family: 'Archivo', sans-serif;
  }

  .bg-violet-strong{
    background-color: #0A66C2;
  }

  .bg-neutral-strong{
    background-color: #F4F2EE;
  }

  .bg-neutral-weak{
    background-color: #FFFFFF;
  }

  .text-violet-strong{
    color: #191919;
  }

  .text-blue-strong{
    color: #0A66C2;
  }

  .text-gray-weak{
    color: #404040;
  }

  ::-webkit-scrollbar {
    width: 8px
  }

  ::-webkit-scrollbar-track {
    background-color: #FFFFFF
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8B8B8B;
    border-radius: 8px
  }